@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#1a1a1a
#333333
#404040
#777777
#a6a6a6
#7f7f7f
#f8f8f8 
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  /* Scrollbar for Firefox */
  .scrollbar-box {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
  }

  .scrollbar-box:hover {
    scrollbar-color: rgb(163, 163, 163) transparent;
  }

  /* Scrollbar for Chrome & Safari & Edge */
  ::-webkit-scrollbar {
    @apply w-2 absolute top-0 right-1 mr-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent rounded-xl;
  }

  *:hover > ::-webkit-scrollbar-thumb {
    @apply bg-neutral-400;
  }
}
